<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="weipin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Session保留时间-->
    <add key="SessionTimeout" value="30"/>
    <!--Cookie保留时间-->
    <add key="CookieTimeout" value="15"/>
    <!--购物车Cookie保留时间-->
    <add key="MyShoppingCartCookieTimeout" value="90"/>
    <!--每页条数-->
    <add key="ItemOfPage" value="10"/>
    <!--查询订单数量(此配置最终会暂定为35)-->
    <add key="OrderCount" value="35"/>
    <!--用户提交订单最大数量(此配置最终会暂定为30，且永远比“查询订单数量”小5)-->
    <add key="ShoppingCartGoodsMaxCount" value="30"/>
    <!--商品属性个数-->
    <add key="AttributeCount" value="10"/>
    <!--商品列表条数-->
    <add key="GoodsListCount" value="20"/>
    <!--新品上架商品总条数-->
    <add key="NewGoodsListTotal" value="200"/>
    <!--我的订单列表条数-->
    <add key="OrdersListCount" value="10"/>
    <!--我的收藏列表条数-->
    <add key="GoodsCollectListCount" value="10"/>
    <!--我的积分列表条数-->
    <add key="MyIntegralListCount" value="10"/>
    <!--我的评论列表条数-->
    <add key="GoodsCommentsListCount" value="10"/>
    <!--退换货期限天数(即在此天数内可退换货一次，此配置最终会暂定为30天)-->
    <add key="ReturnAndChangeGoodsDeadline" value="30"/>
  </appSettings>
  <connectionStrings>
    <add name="weipin" connectionString="Data Source=.;Initial Catalog=weipin;Integrated Security=SSPI;Persist Security Info=False;"/>
    <add name="Customers" connectionString="Data Source=.;Initial Catalog=Customers;Integrated Security=SSPI;Persist Security Info=False;"/>
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-cn" fileEncoding="gb2312"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <applicationSettings>
    <weipin.Properties.Settings>
      <setting name="weipin_cn_com_webxml_www_IpAddressSearchWebService"
        serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx</value>
      </setting>
    </weipin.Properties.Settings>
  </applicationSettings>
</configuration>