.main { width: 970px; height: auto; overflow: hidden; margin: 8px auto auto auto; }
.main_left { width: 150px; height: auto; overflow: hidden; }
.main_left h1 { background: url("/img/index_tit01.jpg") repeat-x; line-height: 35px; font-size: 14px; color: #fff; font-weight: bold; padding-left: 8px; margin: 0px; }
.main_left ul { border: 1px solid #D0D0D0; width: 148px; height: auto; overflow: hidden; border-top: none; }
.main_left ul li { line-height: 26px; padding-left: 25px; }
.main_left ul a { color: #333; }
.main_left ul a:hover { color: #990000; text-decoration: underline; }
.main_left ul .li { background: url("/img/menul_bg.jpg") repeat-x; font-weight: bold; line-height: 27px; border-bottom: 1px solid #D0D0D0; padding-left: 15px; }
.main_right { width: 810px; height: auto; overflow: hidden; }
.main_right h1 { border-color: #E6E6E6 #E6E6E6 #C30000; border-style: solid; border-width: 1px 1px 2px; height: 33px; line-height: 33px; margin-bottom: 10px; color: #CC0000; padding-left: 16px; font-size: 14px; margin: 0px; }
table .tdL { font-size: 14px; text-align: right; line-height: 22px; height: 50px; }
.logo_input { height: 26px; line-height: 22px; width: 320px; border: solid 1px #C9C9C9; }
.openbox_input2 { border: solid #ccc 1px; width: 90px; height: 22px; }
.a_close{ width: 58px; display: block; line-height: 20px; color: #fff; text-align: center; margin: 10px auto; background: url("/img/btn_confirm.jpg") no-repeat scroll 0 0 transparent;}
#aSubmit { width: 92px; height: 30px; display: block; line-height: 30px; color: #fff; text-align: center; background: url("/img/openbox_but.jpg") no-repeat scroll 0 0 transparent; }
label.error { color: #ff0000; padding: 3px 3px 3px 5px; }
label.success { background: url(/img/reg_right.gif) no-repeat center left; margin-left: 5px; padding: 3px 3px 3px 20px; line-height: 30px; }
#windownbg { display: none; position: absolute; width: 100%; height: 100%; background: #000; top: 0; left: 0; }
#windown-box { position: fixed; _position: absolute; background: #FFF; text-align: left; border: 1px solid #990000; }
#windown-title { position: relative; height: 30px; overflow: hidden; background: #C61F30; }
#windown-title h2 { position: relative; left: 10px; top: 5px; font-size: 14px; color: #fff; padding: 0; margin: 0; }
#windown-close { position: absolute; right: 10px; top: 8px; width: 16px; height: 16px; text-indent: -10em; overflow: hidden; background: url(/img/close_pop.gif) no-repeat; cursor: pointer; }
#windown-content { position: relative; overflow: auto; text-align: center; margin-top: 30px; color:#333; }
#windown-content img, #windown-content iframe { display: block; }
#windown-content .loading { position: absolute; left: 50%; top: 50%; margin-left: -8px; margin-top: -8px; }